body {
  padding-top: 50px;
}

.transactionAmount.positive {
  color: green;
}

.transactionAmount.negative {
  color: red;
}

#referredBySpan {
  cursor: pointer;
  text-decoration: underline;
}

#loggedInAs:hover {
  color: #9d9d9d;
}