body {
}

.transactionAmount.positive {
  color: green;
}

.transactionAmount.negative {
  color: red;
}

#referredBySpan {
  cursor: pointer;
  text-decoration: underline;
}

#loggedInAs:hover {
  color: #9d9d9d;
}

.summaryChartBox {
  height: 250px;
  width: 400px;
  margin: 12px;
  display: inline-block;
}

.summaryChartBox:empty {
  display: none;
}

@media (max-width: 800px) {
  .summaryChartBox {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}